# dependencies
**/node_modules/

.env
login.txt
/backend/assets/users/*.png

# duplicated blender projects
*.blend1

# next.js
.next/
out/

# production
**/build/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts