# dependencies
**/node_modules

.env
login.txt
/backend/assets/users/*.png
**/tests
*.test.js
backup.sql

# duplicated blender projects
*.blend1

# next.js
.next/
out/

# production
**/build/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
**/dist