DATABASE_PASSWORD=the-password-that-you-configured-postgre-for

PORT=the-port-that-you-configured-postgre-for

SECRET_KEY=secret-key-to-generate-and-verify-user-identities

USER=admin-or-other-database-user-with-permission-to-manipulate-data